html,body{
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: rgb(8, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(fotos/fundo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 100%;
    
}




#foto-perfil{
    width: 100px;
    position: relative;
    top: 90px;
    left: 120px;
    border-radius: 100px;
    border: 10px solid white;
}


#grid{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 15px black;
    width: 360px;
    height: 500px;
    text-align: center;
    
    

}


#fundo{
    position: absolute;
    border-top-left-radius: 7px;
    border-top-right-radius: 8px;
}

#dados{
    position: relative;
    top: 75px;
}

#dados > h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#dados > p, span{
    opacity: 70%;
    font-style: italic;
}

#dados > h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    text-align: center;
}

#dados > a > h3{
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    border-style: groove;
    border-color: indigo;
    font: 14pt Arial;
    background-color: indigo;
    text-decoration: none;
    color: rgb(255, 249, 249);
}

#dados > a:hover > h3{
    background-color: ivory;
    color: indigo;
    border-color: indigo;
    padding: 15px;
}

#dados >a:active > h3{
    color: rgb(0, 255, 42);
}

#fundo{
    background-image: url(fotos/fundo.jpg);
}